#titleDiv{
	font-size: 400%;
	font-family: 'Mukta Malar', sans-serif;
 	font-style: normal;
  	font-variant: normal;
  	font-weight: 500;
	color: #000000;
	line-height: 160%;
}

#slogan{
	font-size: 80%;
	font-family: 'Mukta Malar', sans-serif;
 	font-style: normal;
  	font-variant: normal;
  	font-weight: 500;
	color: #000000;
	line-height: 160%;
}

#wrapper{
    text-align: center;
    /*
    position: relative;
    top: -65%;
    right: -25%;
    width: 50%;
    display: table;
    */
}

button {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  outline: 0;
  -webkit-appearance: none;
}

/* Custom */
button {
	margin: 2% auto;
	display: inline-block;
	position: relative;
	padding: 1% 2%;
	top: 0;
	font-size: 100%;
	font-family: 'Mukta Malar', sans-serif;
	font-style: normal;
 	font-variant: normal;
 	font-weight: 400;
	border-radius: 5px;
	border: 2px solid black;
	color: black;
}

button:hover {
	background-color: white;
	color: #3B3B3B;
    transition: all 300ms ease;
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: ease;
    transition-delay: initial;
}

