body, html {
	color: #656c6d;
	width: 100%;
	height: 100%;
}

h1 {
	font-weight: 700;
}
h1 strong {
	font-weight: 900;
}
h2 {
	line-height: 20px;
	margin: 0;
	color: #121d1f;
	font-weight: 400;
	margin-bottom: 30px;
	font-size: 34px;
}
h3, h4 {
	color: #121d1f;
	font-size: 20px;
	font-weight: 600;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}

#feeder{
	background-color: #e3e6ea;
	padding-top:30px;
	padding-bottom:30px;
}

#hungry{
	background-color: #b1bcce;
	padding-top:30px;
	padding-bottom:30px;
}

.section-title hr {
	height: 4px;
	width: 70px;
	text-align: center;
	position: relative;
	background: #3e5777;
	margin-bottom: 30px;
	border: 0;
}

.section-title.center {
	padding: 25px 0 45px 0;
}

#nav {
	z-index: 9999;
}
/*#nav.affix {
	position: fixed;
	top: 0;
	width: 100%
}*/
.navbar-custom {
    width:100%;
    position:fixed;
    top:0;
    left:0;
	margin-bottom: 0;
	background-color: #5d525f;
	border-radius: 0px;
	padding: 10px 0;
}
.navbar-custom .navbar-brand {
	font-weight: 600;
    font-size: 2em;
}
.navbar-custom .navbar-brand:focus {
	outline: 0;
}
.navbar-custom .navbar-brand .navbar-toggle {
	padding: 4px 6px;
	font-size: 20px;
	color: #fff;
}
.navbar-custom .navbar-brand .navbar-toggle:focus, .navbar-custom .navbar-brand .navbar-toggle:active {
	outline: 0;
}
.navbar-custom a {
	color: #f4f5f6;
}
.navbar-custom .nav li a {
	text-transform: uppercase;
	letter-spacing: 1px;
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}
.navbar-custom .nav li a:hover {
	outline: 0;
	color: #7bc3d1;
	background-color: transparent;
}
.navbar-custom .nav li a:focus, .navbar-custom .nav li a:active {
	outline: 0;
	background-color: transparent;
	color: #7bc3d1;
}
.navbar-custom .nav li.active {
	outline: 0;
}
.navbar-custom .nav li.active a {
	background-color: rgba(255,255,255,.3);
}
.navbar-custom .nav li.active a:hover {
	color: #fff;
}

.intro {
	display: table;
	width: 100%;
	padding: 0px 0;
	padding-top: 150px;
	text-align: center;
    color: #fff;
	background: url(../img/coverpic.jpg) no-repeat center bottom;
	background-color: #629ca7;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.hovertext {
  color: black;
  font-size: 20px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transition: .5s ease;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: .5s ease;
  background-color: rgba(66,194,244,0);
}

.hovertext{
	opacity: 0;
}

.hoverimg .hovertext:hover{
	opacity: 1.0;
}

.hoverimg .overlay:hover {
  background-color: rgba(66,194,244,0.5);
}

.hoverlogo{
	text-align: center;
	padding-bottom: 20px;
	transition: opacity 5s;
    -webkit-transition: opacity 5s;
}

.hoverlogo i.fa{
	font-size: 64px;
	transition: all 0.5s;
	color: #ffffff;
	width: 200px;
	height: 200px;
	padding-top: 66px;
	border-radius: 50%;
	background: #4286f4;
	text-align: center;
	-webkit-transition: -webkit-transform .5s ease-in-out;
    transition:         transform .5s ease-in-out;
}

.hoverlogo i.fa:hover + .hovertext, .hovertext:hover{
	opacity: 1.0;
}
/*
.hovertext:hover{
	opacity: 1.0;
}
*/
.hovertext:hover > .hoverlogo i.fa, .hoverlogo:hover i.fa{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

#end-of-page {
	background: #5d525f;
	color: #5d525f;
	padding-top: 30px;
    padding-right: 0px;
    padding-bottom: 30px;
    padding-left: 0px;
}

.end-text {
	font-size: 30px;
	color: black;
}

.content-section{
	padding-top: 30px;
	padding-bottom: 30px;
}

@-webkit-keyframes appear {   
   0% {opacity: 0;}
   100% {opacity: 1;}
}

@keyframes appear {
   0% {opacity: 0;}
   100% {opacity: 1;}
}

.highlight {
   -webkit-animation: appear 2s ease-in 1;
   animation: appear 2s ease-in 1;
}

.removed-item {
	-webkit-animation: removed-item-animation 1s cubic-bezier(0.55, -0.04, 0.91, 0.94) forwards;
    animation: removed-item-animation 1s cubic-bezier(0.55, -0.04, 0.91, 0.94) forwards;
    /*transform origin is moved to the bottom left corner*/
    transform-origin: 0% 100%;
}

@-webkit-keyframes removed-item-animation {
    0% {
        opacity: 1;
        transform: rotateZ(0);
}
 
    100% {
        opacity: 0;
        transform: translateY(600px) rotateZ(90deg);
    }
}
 
@keyframes removed-item-animation {
    0% {
        opacity: 1;
        transform: rotateZ(0);
}
 
    100% {
        opacity: 0;
        transform: translateY(600px) rotateZ(90deg);
    }
}

.academics_item{
	
}

.detail-text {
  animation: flyin 1.2s ease forwards;
  opacity: 0;
  transform: scale(2);
  filter: blur(4px);
}

@keyframes flyin {
   to { 
     filter: blur(0);
     transform: scale(1);
     opacity: 1;
   }
}

header .intro-text {
	padding-top: 300px;
	padding-bottom: 200px;
}

